********import brands ds *************

In [3]:
import pandas as pd;
pd.options.mode.copy_on_write = True

In [4]:
brands_clean = pd.read_csv('https://raw.githubusercontent.com/WBSCodingSchool/wbscs_data/main/brands.csv')
brands=brands_clean.copy()

In [5]:
brands.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   short   187 non-null    object
 1   long    187 non-null    object
dtypes: object(2)
memory usage: 3.1+ KB

In [6]:
brands.sample(10)

    short       long
21    CEL      Celly
126   POL   Polaroid
127   PQI        Pqi
146   SNA       Sena
135   REP     Repair
179   WIT   Withings
108   NOD      Nodon
83    LOG   Logitech
4     AKI     Akitio
53    HOW  Honeywell

********save brands_ clean********

In [7]:
brands.to_csv('brands_clean.csv', index=False)