***** import orderline table ****

In [3]:
import pandas as pd;
pd.options.mode.copy_on_write = True

In [15]:
orders_line_clean = pd.read_csv('https://raw.githubusercontent.com/WBSCodingSchool/wbscs_data/main/orderlines.csv')
orders_line=orders_line_clean.copy()

In [16]:
orders_line.head(1)

,id,id_order,product_id,product_quantity,sku,unit_price,date
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19

***** remove column product_id *****

In [17]:
orders_line = orders_line.drop(columns="product_id")

**** rename column sku to product_id ******

In [18]:
orders_line = orders_line.rename(columns={'sku': 'product_id'})

In [19]:
orders_line.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                293983 non-null  int64
 1   id_order          293983 non-null  int64
 2   product_quantity  293983 non-null  int64
 3   product_id        293983 non-null  object
 4   unit_price        293983 non-null  object
 5   date              293983 non-null  object
dtypes: int64(3), object(3)
memory usage: 13.5+ MB

*****change created date to datetime type and remove null values*****

In [20]:

orders_line["date"] = pd.to_datetime(orders_line["date"])

**** change price to float  ****

In [21]:
two_dot_order_ids_list = orders_line.loc[orders_line.unit_price.str.contains("\d+\.\d+\.\d+"), "id_order"]
orders_line = orders_line.loc[~orders_line.id_order.isin(two_dot_order_ids_list)]

orders_line["unit_price"] = pd.to_numeric(orders_line["unit_price"])

In [ ]:
***** Export the clean orders_line DF *****

In [22]:
orders_line.to_csv('orders_line_clean.csv', index=False, date_format='%Y-%m-%d %H:%M:%S')