**** Import Data and make copies ***

In [23]:
import pandas as pd;

pd.options.mode.copy_on_write = True

In [24]:
orders_df = pd.read_csv('https://raw.githubusercontent.com/WBSCodingSchool/wbscs_data/main/orders.csv')

In [25]:
orders=orders_df.copy()

In [26]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226909 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      226909 non-null  int64
 1   created_date  226909 non-null  object
 2   total_paid    226904 non-null  float64
 3   state         226909 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 6.9+ MB

****rename column state****

In [27]:
orders = orders.rename(columns={'state': 'status'})

*****change created date to datetime type and remove null values*****

In [28]:
orders = orders.loc[~orders.total_paid.isna(), :]
orders["created_date"] = pd.to_datetime(orders["created_date"])

In [29]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
Index: 226904 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      226904 non-null  int64
 1   created_date  226904 non-null  datetime64[ns]
 2   total_paid    226904 non-null  float64
 3   status        226904 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 8.7+ MB

In [ ]:
***** save the new table localy ******

In [39]:
#orders.to_csv('orders_clean.csv', index=False)

In [34]:

orders.to_csv('orders_clean.csv', index=False, date_format='%Y-%m-%d %H:%M:%S')

In [36]:
# Save to HDF5 format
#orders.to_hdf('orders_clean.h5', key='orders', mode='w')

In [40]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
Index: 226904 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      226904 non-null  int64
 1   created_date  226904 non-null  datetime64[ns]
 2   total_paid    226904 non-null  float64
 3   status        226904 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 8.7+ MB

In [1]:
orders_line.info()

NameError: name 'orders_line' is not defined